body {
	box-sizing: border-box;
	margin: 0;
	font: normal 16px/normal Arial, Helvetica, sans-serif;
}

.hidden {
	background-color: grey;
	border: 5px dashed darkgrey;
	display: none !important;
}

.result, .info-window, .page-title, button {
	cursor: pointer;
}

.header {
	top: 0;
	padding: 5px;
	background-color: lightgrey;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	text-align: center;
}

.section-heading {
	padding: 0 10px;
	margin: 0 auto;
}

.quote {
	margin: 5%;
	color: grey;
	font-weight: lighter;
}

.author::before {
	content: '-'
}

.author {
	font-style: italic;
	font-weight: light;
	text-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.box {
	top: 0;
	padding: 5px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	text-align: center;
	border-radius: 3px;
}

form {
	display: inline-block;
	width: 75%;
}

form input {
	width: 60%;
	padding: 10px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5) inset;
}

button {
	padding: 10px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
	background-color: #f2f2f2;
}

button.geolocation {
	margin: 10px 0;
	/*width: 80%;*/
	}

button.submit {
	width: 20%;
	margin: 10px 0;
}

.pop-up {
	/*grid-row: 1 / 3;*/
	position:fixed;
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	background:url(overlay.png) repeat; 
	text-align:center;
}

.pop-up img {
	width: 25%;
	max-width: 300px;
	float: left;
}

.confirm-box {
	margin: 15%;
	/*width: 50%;*/
	/*height: 50%;*/
	overflow: hidden; 
	background-color: white;
	padding: 1%;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);	
}

.map {
	/*background-color: orange;*/
	width: 100%;
	min-height: 200px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.results{
	display: flex;
	flex-direction: column;
}

.result img, .info-window img {
	height: 40px;
	width: 40px;
	float: left;
	margin: 5px;
}

.result {
	padding: 2px;
	margin: 2px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.title {
	font-weight: 500;
	font-size: 1em;
}

.address {
	font-style: italic;
	font-size: .8em;
}

@media (min-width: 500px) {
	section.pick {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 3fr 2fr;
	}

	.section-heading {
		grid-column: 1 / 3;
	}

.box {
	margin: 30px auto;
	padding: 10px 0;
	width: 75%;
}

}
