body {
	box-sizing: border-box;
	margin: 0;
}

.hidden {
	background-color: grey;
	border: 5px dashed darkgrey;
	display: none !important;
}

.header {
	top: 0;
	padding: 5px;
	background-color: lightgrey;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	text-align: center;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.box {
	text-align: center;
	margin: 30px auto;
	padding: 10px 0;
	width: 50%;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);	
}
.pop-up {
	/*grid-row: 1 / 3;*/
	position:fixed;
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	background:url(overlay.png) repeat; 
	text-align:center;
}

.pop-up img {
	width: 25%;
	max-width: 300px;
	float: left;
}

.confirm-box {
	margin: 15%;
	/*width: 50%;*/
	/*height: 50%;*/
	overflow: hidden; 
	background-color: white;
	padding: 1%;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);	
}

.map {
	/*background-color: orange;*/
	width: 100%;
	min-height: 200px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.results{
	display: flex;
	flex-direction: column;
}

.result img {
	height: 40px;
	width: 40px;
	float: left;
	margin: 5px;
}

.result {
	padding: 2px;
	margin: 2px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.result.title {
	font-weight: 500;
	font-size: 1em;
}

.result.address {
	font-style: italic;
	font-size: .8em;
}

@media (min-width: 500px) {
	section.pick {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 3fr 2fr;
	}

	.section-heading {
		grid-column: 1 / 3;
	}
}
